@page "{id?}"
@using LogisticsBooking.FrontEnd.DataServices.Models
@model LogisticsBooking.FrontEnd.Pages.Client.Bookings.BookingOverviewModel

@{
    
}

<style>
    .td {
        white-space: nowrap;
        overflow: hidden;
    }
    .th {
        white-space: nowrap;
        overflow: hidden;
    }
    .div{
        white-space: nowrap;
        overflow: hidden;
    }
</style>

<body onload="toggle('orderItem')">
<div class="container">
    <div class="row bg-light dis">
        <div class="col">
              <button onclick="toggle('orderItem')" class="btn fas fa-toggle-on">Gem/Vis Alle</button>
        </div>
        <div class="col">
            <form asp-page-handler="ExportExcel" method="post">
                        <button class="btn fas fa-file-download"> Export</button>
                    </form>
        </div>
        <div class="col">
            <a asp-page="/Client/Bookings/BookingOverview" asp-route-id="7" class="btn fas fa-calendar-alt"><span>Ugen</span></a>
        </div>
        <div class="col">
                   <a asp-page="/Client/Bookings/BookingOverview" asp-route-id="31" class="btn fas fa-calendar-alt">Måneden</a>  
        </div>
        <div class="col">
           <a asp-page="/Client/Bookings/BookingOverviewAdmin" class="btn fas fa-edit">Rediger</a>         
        </div>
        
      
        
        
    </div>
</div>


<table id="example" class=" " style="width: 100%">
    <thead>
    <tr>
        <th> </th>
        <th class="bootbox-alert">Dato</th>
        <th>ID</th>
        <th>Paller</th>
        <th>Navn</th>
        <th>Kontakt</th>
        <th>Port</th>
        <th>Faktisk<br/>Ankomst</th>
        <th>Start<br/>Læsning</th>
        <th>Slut<br/>Læsning</th>
        <th> </th>
    </tr>
    </thead>
    <tbody>
    @foreach (var booking in @Model.BookingsListViewModel.Bookings)
    {
        <tr>
            <td>
                <button class="no-sort" onclick="toggle('@booking.internalId')"><i class="fas fa-angle-down"></i></button>
                <div class="orderItem @booking.internalId">
                    <div style="font-weight: bold; opacity: 0;">O</div>
                    @foreach (var order in @booking.Orders)
                    {
                        <div style="opacity: 0">O</div>
                    }
                </div>
            </td>
            <td>
                @booking.bookingTime.ToString("d")
                <div class="orderItem @booking.internalId">
                    <div class="margin-1em-top" style="font-weight: bold; opacity: 0;">Leverandør</div>
                    @foreach (var order in @booking.Orders)
                    {
                        <div style="opacity: 0">@order.SupplierName</div>
                    }
                </div>
            </td>
            <td>
                @booking.ExternalId
                <div class="orderItem @booking.internalId">
                    <div class="margin-1em-top" style="font-weight: bold">Booking ID</div>
                    @foreach (var order in @booking.Orders)
                    {
                        <div>@order.ExternalId</div>
                    }
                </div>
            </td>
            <td>
                @booking.totalPallets
                <div class="orderItem @booking.internalId">
                    <div class="margin-1em-top" style="font-weight: bold">Ordrenr</div>
                    @foreach (var order in @booking.Orders)
                    {
                        <div>@order.orderNumber</div>
                    }
                </div>
            </td>
            <td>
                <div style="white-space: nowrap; overflow: hidden">@booking.transporterName</div>
                <div class="orderItem @booking.internalId">
                    <div class="margin-1em-top" style="font-weight: bold">Leverandør</div>
                    @foreach (var order in @booking.Orders)
                    {
                        <div>@order.SupplierName</div>
                    }
                </div>
            </td>
            <td>
                @booking.email
                <div class="orderItem @booking.internalId">
                    <div class="margin-1em-top" style="font-weight: bold;">Bundpaller</div>
                    @foreach (var order in @booking.Orders)
                    {
                        <div style="">@order.BottomPallets</div>
                    }
                </div>
            </td>
            <td>
                @booking.port
                <div class="orderItem @booking.internalId">
                    <div class="margin-1em-top" style="font-weight: bold;">Paller i alt</div>
                    @foreach (var order in @booking.Orders)
                    {
                        <div>@order.TotalPallets</div>
                    }
                </div>
            </td>
            <form method="post">
                <td>
                    <input type="time" class="form-control" asp-for="@booking.actualArrival" name="actualArrival"/>

                    <div class="orderItem @booking.internalId">
                        <div class="margin-1em-top" style="font-weight: bold;">Ind/Ud</div>
                        @foreach (var order in @booking.Orders)
                        {
                            <div>@order.InOut</div>
                        }
                    </div>
                </td>
                <td>
                    <div>
                        <input type="time" class="form-control" asp-for="@booking.startLoading" name="startLoading"/>
                    </div>
                    <div class="orderItem @booking.internalId">
                        <div class="margin-1em-top" style="font-weight: bold;">Bemærkninger</div>
                        @foreach (var order in @booking.Orders)
                        {
                            <div class="trigger_popup_fricc btn far fa-comment-alt "></div><br/>
                            <div class="hover_bkgr_fricc centered">
                                <span class="helper"></span>

                                <div>
                                    <div class="popupCloseButton">X</div>
                                    <p class="spaced-typography">Følgende kommentar er tilknyttet denne ordre: </p> @order.Comment
                                </div>
                            </div>
                        }
                    </div>
                </td>
                <td>
                    <input type="time" class="form-control" asp-for="@booking.endLoading" name="endLoading"/>
                    <div class="orderItem @booking.internalId">
                        <div class="margin-1em-top" style="font-weight: bold; opacity: 0">Ind/Ud</div>
                        @foreach (var order in @booking.Orders)
                        {
                            <div style="opacity: 0">@order.InOut</div>
                        }
                    </div>
                </td>
                <td>
                    <button asp-page-handler="Update" asp-route-id="@booking.internalId"> <i class="far fa-edit"></i> </button>

                    <div class="orderItem @booking.internalId">
                        <div class="margin-1em-top" style="font-weight: bold; opacity: 0;">O</div>
                        @foreach (var order in @booking.Orders)
                        {
                            <div style="opacity: 0">@order.InOut</div>
                        }
                    </div>
                </td>
            </form>
        </tr>
    }
    </tbody>
</table>
</body>


@section Scripts{
    <link href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.datatables.net/responsive/2.1.1/css/responsive.bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap4.min.js "></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous"/>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js" integrity="sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd" crossorigin="anonymous"></script>
    <script type="text/javascript" crossorigin="anonymous" asp-append-version="true" src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.js"></script>
    
    <script>
        $(window).load(function () {
            $(".trigger_popup_fricc").click(function () {
                $('.hover_bkgr_fricc').show();
            });
            $('.hover_bkgr_fricc').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
            $('.popupCloseButton').click(function () {
                $('.hover_bkgr_fricc').hide();
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            var options = {
                inlineCss: false
            };
            $("a.six").on("click", function (e) {
                e.preventDefault();
                $(this).simplePopup(options);
            });
        });
    </script>
    
    <script>
        $(function () {
            $("#example").DataTable({
                "order": [[1, "desc"]], 
                "columnDefs": [
                    { "orderable": false, "targets": [ 0, 2, 3, 6, 7, 8, 9, 10 ] }
                ], 
                "pageLength": 1000
            });
        });

   
        function toggle(className) {
            var x = '.' + className;
            if ($(x).is(":hidden")) {
                show(className)
            } else {
                hide(className)
            }
        }
  
 
        function hide(className) {
            var x = '.' + className;
            $(x).hide();
        }
   


        function show(className) {
            var x = '.' + className;
            $(x).show();
    }

    
        

    
    </script>
}