@page "{id}"
@model LogisticsBooking.FrontEnd.Pages.Client.Bookings.OrderDeleteModel

@{
    ViewData["Title"] = "Home page";
}

<div class="py-5 text-center">
    <div class="container">
        <div class="row">
            <div class="mx-auto col-lg-6 col-10">
                <h1>Ordre: @Model.OrderViewModel.ExternalId</h1>
                <p class="mb-3">Du er ved at slette den følgende ordre. Dette er en permanent handling. Tryk 'Bekræft' for at gennemføre.</p>
                <form method="post" class="text-left">
                    <div class="form-group"> <label for="form18">Kommentar</label> <div class="list-group-item display-spacebetween">@Model.OrderViewModel.Comment</div> </div>
                    <div class="form-group"> <label for="form18">Kunde nr</label> <div class="list-group-item display-spacebetween">@Model.OrderViewModel.CustomerNumber</div> </div>
                    <div class="form-group"> <label for="form18">Ordre nr</label> <div class="list-group-item display-spacebetween">@Model.OrderViewModel.OrderNumber</div> </div>
                    <div class="form-group"> <label for="form18">Vare nr</label> <div class="list-group-item display-spacebetween">@Model.OrderViewModel.WareNumber</div></div>
                    <div class="form-group"> <label for="form18">Antal bundpaller</label> <div class="list-group-item  display-spacebetween">@Model.OrderViewModel.BottomPallets</div> </div>
                    <div class="form-group"> <label for="form18">Ordre id</label> <div class="list-group-item display-spacebetween">@Model.OrderViewModel.OrderNumber</div> </div>
                    <div class="form-group"> <label for="form18">Total antal paller</label> <div class="list-group-item display-spacebetween">@Model.OrderViewModel.TotalPallets</div> </div>
                    <div class="form-group"> <label for="form18">Total Ind/Ud</label> <div class="list-group-item display-spacebetween">@Model.OrderViewModel.InOut</div></div>
                    <input asp-for="OrderViewModel.OrderId" type="hidden"  class="form-control" id="form18" name="id" value="@Model.OrderViewModel.OrderId">
                    <input type="submit" asp-page-handler="Delete" class="btn btn-primary"  value="Bekræft"/>
                </form>
            </div>
        </div>
    </div>
</div>