@page
@using LogisticsBooking.FrontEnd.DataServices.Models
@model LogisticsBooking.FrontEnd.Pages.Client.Schedule.Calendar
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Xsrf




      <main class="py-5">

        
        <div class="container">



<div class="calendar">

    <form method="post">
    <div class="container-fluid py-4"> 
        <div class="row justify-content-center ">
            <div class="col-lg text-center">
                
                    <input type="submit" asp-page-handler="back" class="fas fa-arrow-left arrow-size "> </input>
                
      
            </div>
            <div class="col-lg text-center">
                
                <span class="date-size"> @Model.date.Date.ToString("Y") </span>
            </div>
            <div class="col-lg text-center">
                <input type="submit" asp-page-handler="Forward" class="fas fa-arrow-right arrow-size"></input>
            </div>
        </div>
    </div>
    </form>
@{
    var totaldays = 0;
}
@functions
{
<div class="calendar">


            
                <div class="row justify-content-md-center">
                    <div class="col align-self-center ">
                        <form method="post" asp-page-handler="Back">
                            <a onclick="$(this).closest('form').submit();" class="float-right fa-2x  fas fa-angle-left"></a>
                        </form>
                    </div>
                    <div class="col-md-auto align-self-center">
                        <p>@Model.CalenderViewModel.CurrentDate.ToString("MMMM")</p>
                    </div>
                    <div class="col align-self-center ">
                        <form method="post" asp-page-handler="Forward">
                        <a onclick="$(this).closest('form').submit();" class="fas fa-2x fa-angle-right"></a>
                         </form>
                    </div>
                </div>
           
            

        </div>

   
          
          <div class="container ">
            <div class="row no-gutters">
                <div class="col calendar-header center">
                    <p>Mon</p>
                </div>
                <div class="col calendar-header">
                    <p>TUE</p>
                </div>
                <div class="col calendar-header">
                    <p>WED</p>
                </div>
                <div class="col calendar-header">
                    <p>THU</p>
                </div>
                <div class="col calendar-header">
                    <p>FRI</p>
                </div>
                <div class="col calendar-header">
                    <p>SAT</p>
                </div>
                <div class="col calendar-header">
                    <p>SUN</p>
                </div>
            </div>


            <div class="row no-gutters">
      @for (int i = 0; i < 42; i++)
      {
          DateTime date = Model.CalenderViewModel.StartDate.AddDays(i);
                      
                      @if (i % 7 == 0 && i > 0) 
                      {
                          @:</div> <div class="row no-gutters">
                      }
                      
                      
                      @if ( date > DateTime.Now.Date )
                      {
                          if (date.Day == 19)
                          {
                              <div class="col day">
                                  <div class="right-position">
                                      <p>@date.Day</p>
                                  </div>
                                  <div data-toggle="modal" data-target="#popup" class="schedule">Nuværende plan</div>
                              </div>
                              
                          }
                          else
                          {
                              <div class="col day">
                                  <div class="right-position">
                                      <p>@date.Day</p>
                                  </div>
                              </div>
                          }
                          
                          
                      }
                      else
                      {
                          <div class="col day">
                              <div class="right-position before-date">
                                  <p>@date.Day</p>
                              </div>
                          </div>
                          
                      }
                  }
           

            
        </div>

    </div>

   
    </main>




<!-- Modal -->



    <!-- Modal -->
    <div class="modal fade" id="popup" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    ...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


@section Scripts {
    
    
   

    <script src="~/js/Util/util.js" language="javascript" type="text/javascript"></script>
    <script
        src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
        crossorigin="anonymous"></script>

    
    <script>
        var token = $('input[name="__RequestVerificationToken"]').val();

        var headers = {};

        headers['__RequestVerificationToken'] = token;

    
        var listOfDates = new Array(35);
        $(".test").click(function() {
            if ($(this).hasClass("content-color")) {
                $(this).removeClass("content-color").addClass("ok");
                var f = $(this).first().contents().eq(1).text();
                listOfDates.push(f);
            } else if ($(this).hasClass("ok")) {

                $(this).removeClass("ok").addClass("content-color");
                var f = $(this).first().contents().eq(1).text();

                function include(arr,obj) {
                    return (arr.indexOf(obj) != -1);
                }
                var a = include(listOfDates , f);
                var index = listOfDates.indexOf(a);
                if (index > -1) {
                listOfDates.splice(index, 1);
                }
                console.log(listOfDates);
            }

        });
        

            
$(".sendAsync").click(function() {
  $.ajax({
        type: "POST" ,
        
        url: "https://localhost:4434/Client/Schedule/Calendar" ,
        beforeSend: function (xhr) {
            xhr.setRequestHeader("XSRF-TOKEN",
                $('input:hidden[name="__RequestVerificationToken"]').val());
        },
        headers:headers, 
        data: JSON.stringify(listOfDates),
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function(data) {
            console.log("succes")
            
            window.location.href='https://localhost:4434/Client/Schedule/ScheduleOverview';
      },
        failure: function(data) {
            console.log("fail")
            window.location.href='https://localhost:4434/Client/Schedule/ScheduleOverview';
            
      }
    });
        
});


           
     
    </script>


}




