@page
@model LogisticsBooking.FrontEnd.Pages.Transporter.Booking.orderinformation
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout_Transporter";
}



<div class="py-1" style="">
    <div class="container">
  <div class="md-stepper-horizontal blue">
      <div class="md-step active ">
        <div class="md-step-circle"><span></span><i class="fas fa-check"></i></div>
        <div class="md-step-title">Leveringsdag</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step active ">
          <div class="md-step-circle"><span></span><i style="transform: scaleX(-1);" class="fas fa-pencil-alt"></i></div>
        <div class="md-step-title">Opret Ordrer</div>
          <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step ">
        <div class="md-step-circle"><span>3</span></div>
        <div class="md-step-title">Leveringstidspunkt</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
      <div class="md-step">
        <div class="md-step-circle"><span>4</span></div>
        <div class="md-step-title">Gennemført</div>
        <div class="md-step-bar-left"></div>
        <div class="md-step-bar-right"></div>
      </div>
    </div>
    </div>
</div>  


<div class="py-4 m-5" s>
        <div class="container-fluid card">
        
            <div class="row">
                <div class="col d-flex justify-content-center">
                    
                    <div class="py-4">
                        <div>
                            <h2 class="">Angiv Ordre Informationer</h2>
                        </div>




                    </div>

                </div>
            </div>
            
            <form method="post">
                <div class="row">
                    
                    <div class="col-6">
                        <div class="input-group mb-3 margin-2">
                    
                    
                            <select class="form-control" asp-for="OrderViewModel.SupplierId" asp-items="Model.Transporters"></select>
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic"><i class="fas fa-question"></i></span>
                            </div>
                        </div>
                    
                    </div>
                    
                    
                    <div class="col-6">
                        <div class="input-group mb-3 margin-2">

                            <input asp-for="@Model.OrderViewModel.orderNumber" type="number" type="text" class="form-control" placeholder="Ordre Reference" aria-label="Username"
                                   aria-describedby="basic-addon1">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic"><i class="fas fa-question"></i></span>
                            </div>
                        </div>

                    </div>
                    
                    
                    
                   
                    
                    

                </div>
            

      <div class="row">
                      <div class="col-3">
                          <div class="input-group mb-3 margin-2">
      
                              <input asp-for="@Model.OrderViewModel.BottomPallets" type="text" class="form-control" placeholder="Bundpaller" aria-label="Username"
                                  aria-describedby="basic-addon1">
                              <div class="input-group-prepend">
                               <span class="input-group-text" id="basic"><i class="fas fa-question"></i></span>
                              </div>
                          </div>
                      </div>
                      <div class="col-3">
                          <div class="input-group mb-3 margin-2">
      
                              <input asp-for="@Model.OrderViewModel.totalPallets" type="text" class="form-control" placeholder="Paller i alt" aria-label="Username"
                                  aria-describedby="basic-addon1">
                              <div class="input-group-prepend">
                                 <span class="input-group-text" id="basic"><i class="fas fa-question"></i></span>
                              </div>
                          </div>
                      </div>
      
      
      
      
                      <div class="col-6">
                          <div class="input-group mb-3 margin-2">
      
                              <textarea asp-for="@Model.OrderViewModel.Comment" class="form-control" placeholder="Angiv en kommentar" aria-label="Username"
                                  aria-describedby="basic-addon1"></textarea>
                              <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic"><i class="fas fa-question"></i></span>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="row">
                      <button type="submit" class="btn btn-primary btn-block">Opret Ordre</button>
                  </div>
            </form>
            
        </div>
    
                
      
</div>


<div class="py-4 m-5">
        <div class="container-fluid card">
            <div class="row">
                <div class="col d-flex justify-content-center">
                    <div class="py-4">
                        <div>
                            <h2 class="">Booking Oversigt</h2>
                        </div>
                        <div class="text-center">
                             @if (@Model.BookingViewModel.ExternalId == null)
                               {
                                 <small class="">Booking nummer: <strong>xxxxx</strong></small>
                               }
                               else
                               {
                               <span> Booking nummer: <strong>@Model.BookingViewModel.ExternalId</strong> </span>
                               }
                        </div>
                        <div class="text-center">
                            @if (Model.BookingViewModel.PalletsRemaining == 0)
                            {
                                <small class="text-succes">Der mangler at blive booket 0 paller</small>
                                <div class="col-lg-12">
                                    <span class="text-success"> Der mangler 0 paller at bliver booket</span>
                                </div> 
                                                    
                            }
                            else if (Model.BookingViewModel.PalletsRemaining < 0)
                            {
                                
                                <small class="">Der er booket for mange paller i forhold til hvad der er valgt</small>
                                                   
                            } 
                            else 
                            {
                                
                                <small class="text-danger">Der mangler at blive booket @Model.BookingViewModel.PalletsRemaining  paller</small>              
                                
                                                    
                            }
                        </div>
                        
                    </div>

                </div>
            </div>

            <div class="row">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ordre ID</th>
                            <th scope="col">Ordre Nummer</th>
                            <th scope="col">Leverandør</th>
                            <th scope="col">Bundpaller</th>
                            <th scope="col">Paller i alt</th>
                            <th> Slet ordre</th>
                        </tr>
                    </thead>
                    <tbody>
                    
                     @if (Model.BookingViewModel.OrderViewModels != null)
                     {
                     foreach (OrderViewModel orderViewModel in Model.BookingViewModel.OrderViewModels)
                     {
                              
                         <tr>
                             <th scope="row">@orderViewModel.ExternalId</th>
                             <td>@orderViewModel.orderNumber</td>
                             <td>@orderViewModel.SupplierName</td>
                             <td>@orderViewModel.BottomPallets</td>
                             <td>@orderViewModel.totalPallets</td>
                             <td> <a asp-page="orderinformation" asp-page-handler="Delete" asp-route-orderId="@orderViewModel.OrderId"><i class="fas fa-minus-circle"></i></a></td>
                         </tr>
                  
                                                   
                                                    
                                                        
                         }    
                         }
                    
                        
                        
                    </tbody>
                </table>
            </div>
              @if (Model.BookingViewModel.PalletsRemaining == 0)
               {
                   <div class="row">
                       <button asp-page="./select_time"  class="btn btn-success btn-block">Bekræft Booking</button>
                   </div>
                  
               }
           
        </div>
        @if (!Model.BookingViewModel.IsBookingAllowed)
         {
             <span> Denne kombination er ikke mulig da de valgte kunder ikke kan bookes sammen</span>
             
                                   
             <span>Opret en ny ordre <a asp-page="bookOrder"> HER</a></span>
             
                                   
             <span> Eller fors</span>
             
                                   
             
          }
        
    </div>
    

          
@section Scripts
{
    <script>
        $('#def').click(function(){
            $(this).popover({
                title: 'Leveringsdato',
                content: 'Angiv venligst leveringsdatoen i dette felt. ',
                trigger: 'click',
                placement:'right',
                html: true
            }).popover('show');
            clickedAway = false
            isVisible = true
        });
        $(document).click(function() {
            if(isVisible & clickedAway){
                $('#def').popover('hide')
            isVisible = clickedAway = false
            }else{
            clickedAway = true
            }
        });
    </script>
}
