@page
@model LogisticsBooking.FrontEnd.Pages.Transporter.Booking.orderinformation
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "_Layout_Transporter";
}

<style xmlns="http://www.w3.org/1999/html">
.table thead th {
border-top: none;
border-bottom: 1px solid #dee2e6;
}
</style>

<div class="py-1" style="">
    <div class="container">
        <div class="md-stepper-horizontal blue">
            <div class="md-step active ">
                <div class="md-step-circle">
                    <span></span><i class="fas fa-check"></i>
                </div>
                <div class="md-step-title">Leveringsdag</div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step active ">
                <div class="md-step-circle">
                    <span></span><i style="transform: scaleX(-1);" class="fas fa-pencil-alt"></i>
                </div>
                <div class="md-step-title">Opret Ordrer</div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step ">
                <div class="md-step-circle">
                    <span>3</span>
                </div>
                <div class="md-step-title">Leveringstidspunkt</div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
            <div class="md-step">
                <div class="md-step-circle">
                    <span>4</span>
                </div>
                <div class="md-step-title">Gennemført</div>
                <div class="md-step-bar-left"></div>
                <div class="md-step-bar-right"></div>
            </div>
        </div>
    </div>
</div>


<div class="py-4 m-4">
    <div class="container card">
        <div class="row">
            <div class="col">
                <div class="py-4">
                    <div>
                        <h2 class="">Booking Oversigt</h2>
                        <small class="d-block" >Leveringsdag @Model.BookingViewModel.BookingTime.ToString("d MMMM") </small>
                        <small class="d-block" >Booking ID<strong> @Model.BookingViewModel.ExternalId </strong> </small>
                        @if (@Model.BookingViewModel.PalletsCurrentlyOnBooking > @Model.BookingViewModel.TotalPallets)
                        {
                            <small class="text-danger">Paller @Model.BookingViewModel.PalletsCurrentlyOnBooking  / @Model.BookingViewModel.TotalPallets</small>
                        }
                        else
                        {
                            <small>Paller @Model.BookingViewModel.PalletsCurrentlyOnBooking  / @Model.BookingViewModel.TotalPallets</small> 
                        }
                        
                    </div>
                </div>

            </div>
            <div class="col">
                <div class="d-flex justify-content-center" >
                   
                </div>
            </div>
            <div class="col">
                <div class="d-flex justify-content-end m-3 ">
                    <button type="button" class="btn btn-lg btn-primary" data-toggle="modal"
                            data-target="#exampleModal">
                        New Order
                    </button>
                </div>


            </div>

        </div>


        <div class="row">
            <table class="table table-hover ">
                <thead>
                <tr>
                    <th scope="col">Ordre ID</th>
                    <th scope="col">Ordre Nummer</th>
                    <th scope="col">Leverandør</th>
                    <th scope="col">Bundpaller</th>
                    <th scope="col">Paller i alt</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                @if (Model.BookingViewModel.OrderViewModels != null)
                {
                    foreach (OrderViewModel orderViewModel in Model.BookingViewModel.OrderViewModels)
                    {
                        <tr>
                            <th scope="row">@orderViewModel.ExternalId</th>
                            <td >@orderViewModel.orderNumber</td>
                            <td>@orderViewModel.SupplierName</td>
                            <td>@orderViewModel.BottomPallets</td>
                            <td>@orderViewModel.totalPallets</td>
                            <td>
                                <button data-toggle="modal" data-target="#_@orderViewModel.OrderId" class="btn btn-primary">Edit</button>
                                <a asp-page="orderinformation" asp-page-handler="Delete" asp-route-orderId="@orderViewModel.OrderId">
                                    <button class="btn btn-danger">Delete</button>
                                </a>
                                
                            </td>
                        </tr>
                    }
                }



                </tbody>
            </table>
        </div>
        @if (Model.BookingViewModel.PalletsRemaining == 0)
        {
            <div class="row d-flex justify-content-center">
                <form method="get">
                <button type="submit" asp-page="/Transporter/Booking/select_time" class="btn btn-success">Bekræft Booking</button>
</form>
            </div>
        }
        else
        {
            
        }

    </div>
    @if (!Model.BookingViewModel.IsBookingAllowed)
    {
    }

</div>


<div class="modal bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="container-fluid">


                        <select class="form-control" asp-for="OrderViewModel.SupplierId" asp-items="Model.Transporters"></select>

                        <div class="form-group">
                            <label class="paddingleftbookingform">Angiv samlet antal bundpaller på denne ordre</label><input asp-for="OrderViewModel.BottomPallets" type="number" class="form-control" id="form29" placeholder="Antal Paller">
                        </div>
                        <div class="form-group ">
                            <label class="paddingleftbookingform">Angiv paller i alt på ordren</label><input asp-for="OrderViewModel.totalPallets" type="number" class="form-control" id="form29" placeholder="Antal Paller">
                        </div>
                        <div class="form-group ">
                            <label class="paddingleftbookingform">Angiv Ordre reference nummer </label><input asp-for="OrderViewModel.orderNumber" type="number" class="form-control" id="form29" placeholder="Ordre refnr">
                        </div>

                        <div class="form-group ">
                            <label class="paddingleftbookingform">Kommentar til ordren</label><textarea  asp-for="OrderViewModel.Comment" class="form-control"></textarea>
                        </div>
                        <div class="form-group display-spacebetween">
                            <label class="paddingleftbookingform">Angiv om ordren er af typen ind eller ud</label><select asp-for="OrderViewModel.InOut">
                                <option value="Ind">Ind</option> <option value="Ud">Ud</option>
                            </select>
                        </div>


                        <span asp-validation-for="OrderViewModel.Comment" class="text-danger"></span>

                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success">Tilføj ordre</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@if (Model.BookingViewModel.OrderViewModels != null)
{
    
@foreach (var order in Model.BookingViewModel.OrderViewModels)
{
    
<div class="modal bd-example-modal-lg" id="_@order.OrderId" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Order</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="container-fluid">

                        <div class="form-group">
                            <label class="paddingleftbookingform">Angiv samlet antal bundpaller på denne ordre</label><input value="@order.BottomPallets" asp-for="OrderViewModel.BottomPallets" type="number" class="form-control" id="form29" placeholder="Antal Paller">
                        </div>
                        <div class="form-group ">
                            <label class="paddingleftbookingform">Angiv paller i alt på ordren</label><input value="@order.totalPallets" asp-for="OrderViewModel.totalPallets" type="number" class="form-control" id="form29" placeholder="Antal Paller">
                        </div>
                        <div class="form-group ">
                            <label class="paddingleftbookingform">Angiv Ordre reference nummer </label><input value="@order.orderNumber" asp-for="OrderViewModel.orderNumber" type="number" class="form-control" id="form29" placeholder="Ordre refnr">
                        </div>

                        <div class="form-group ">
                            <label class="paddingleftbookingform">Kommentar til ordren</label><textarea value="@order.Comment"  asp-for="OrderViewModel.Comment" class="form-control"></textarea>
                        </div>
                        <div class="form-group display-spacebetween">
                            <label class="paddingleftbookingform">Angiv om ordren er af typen ind eller ud</label><select asp-for="OrderViewModel.InOut">
                                <option value="Ind">Ind</option> <option value="Ud">Ud</option>
                            </select>
                        </div>


                        <span asp-validation-for="OrderViewModel.Comment" class="text-danger"></span>

                        <input type="hidden" value="@order.OrderId" asp-for="OrderViewModel.OrderId"/>
                    </div>
                    <div class="modal-footer">
                        
                        <button asp-page-handler="EditOrder" type="submit" class="btn btn-success">Tilføj ordre</button>


                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
}
}






@section Scripts
{
    <script>
        $('#def').click(function(){
            $(this).popover({
                title: 'Leveringsdato',
                content: 'Angiv venligst leveringsdatoen i dette felt. ',
                trigger: 'click',
                placement:'right',
                html: true
            }).popover('show');
            clickedAway = false
            isVisible = true
        });
        $(document).click(function() {
            if(isVisible & clickedAway){
                $('#def').popover('hide')
            isVisible = clickedAway = false
            }else{
            clickedAway = true
            }
        });
    </script>
    
   
}