@page
@using System.Linq
@model LogisticsBooking.FrontEnd.Pages.Transporter.Booking.orderinformation

@{
    Layout = "_Layout_Transporter";
}

<div class="py-1" style="">
    <div class="container">

            <!-- Horizontal Steppers -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Stepers Wrapper -->
                    <ul class="stepper stepper-horizontal">

                        <!-- First Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle"><i class="fas fa-check"></i></span>
                                <span class="label">Opret Ordre</span>
                            </a>
                        </li>

                        <!-- Second Step -->
                        <li class="active">
                            <a href="#!">
                                <span class="circle"><i class="fas fa-check"></i></span>
                                <span class="label">Oplysninger</span>
                            </a>
                        </li>
                        
                        <!-- Third Step -->
                        <li class="">
                            <a href="#!">
                                <span class="circle">3</span>
                                <span class="label">Tidspunkt</span>
                            </a>
                        </li>
                        
                        <!-- Third Step -->
                        <li class="">
                            <a href="#!">
                                <span class="circle">3</span>
                                <span class="label">Gennemført</span>
                            </a>
                        </li>

                    </ul>
                    <!-- /.Stepers Wrapper -->

                </div>
            </div>


    </div>
</div>  


<div class="py-1" style="">
    <div class="container">
        <div class="row" >
            <div class="mx-auto p-4 col-lg-5">
                <form method="post">
                    <div class="form-group"><label class="paddingleftbookingform">Angiv leverandør</label>
                        
                        
                        <select class="form-control" asp-for="OrderViewModel.SupplierName" asp-items="Model.Transporters"></select>
                        
                        
                        
                        
                    </div>
                    <div class="form-group"><label class="paddingleftbookingform">Angiv Ordre nummer</label><input asp-for="OrderViewModel.orderNumber" type="number" class="form-control" id="form29" placeholder="Ordrenummer"></div>
                    <div class="form-group"><label class="paddingleftbookingform">Angiv samlet antal bundpaller</label><input asp-for="OrderViewModel.BottomPallets" type="number" class="form-control" id="form29" placeholder="Antal Paller"></div>
                    <div class="form-group "><label class="paddingleftbookingform">Angiv paller i alt på ordren</label><input asp-for="OrderViewModel.totalPallets" type="number" class="form-control" id="form29" placeholder="Antal Paller"></div>
                    <div class="form-group "><label class="paddingleftbookingform">Kommentar til ordren</label><textarea class="form-control"></textarea></div>
                    <div class="display-center">
                        <button type="submit"  class="btn btn-primary">Opret endnu en ordre</button>
                        <button type="submit" asp-page="./select_time"  class="btn btn-primary">Bekræft</button>

                    </div>

                </form>
            </div>
            <div class="mx-auto p-4 col-lg-7 currently-booking">
                <form>
                    
                    <h1>Currently Booking</h1>
                    <hr class="hr-smaller"></hr>
                    <div class="container">
                        <div class="row py-2-bottom">
                            <div class="col-lg-3">
                                <span class="font-weight-bold">Leverandør</span>
                            </div>
                            <div class="col-lg-3">
                                <span class="font-weight-bold">Ordre nummer</span>
                            </div>
                            <div class="col-lg-3">
                                <span class="font-weight-bold">Bundpallerr</span>
                            </div>
                            <div class="col-lg-3">
                                <span class="font-weight-bold">Paller i alt</span>
                            </div>
                        </div>
                        <hr class="hr-smaller"></hr>
                        
                        
                       @if (Model.BookingViewModel.OrderViewModels != null)
                       {
                           foreach (OrderViewModel orderViewModel in Model.BookingViewModel.OrderViewModels)
                            {
                                <div class="row">
                                    <div class="col-lg-3">
                                        <p>@orderViewModel.SupplierName</p>
                                    </div>
                                    <div class="col-lg-3">
                                        <span>@orderViewModel.orderNumber</span>
                                    </div>
                                    <div class="col-lg-3">
                                        <span>@orderViewModel.BottomPallets</span>
                                    </div>
                                    <div class="col-lg-3">
                                        <span>@orderViewModel.totalPallets</span>
                                    </div>
                                    
                                </div>
                            
                                <div class="hr-smaller">
                                
                                
                                </div>
                            }    
                       }
                       
                       <hr class="hr-thick"></hr>
                       <div>
                           
                       </div>
                       
                       @if (Model.BookingViewModel.OrderViewModels != null)
                       {
                           int sum = 0;
                           foreach (OrderViewModel model in Model.BookingViewModel.OrderViewModels)
                           {
                               sum = sum + model.BottomPallets;
                           }
                           
                           <div class="row">
                               <div class="col-lg-3">
                                   <p></p>
                               </div>
                               <div class="col-lg-3">
                                   <span></span>
                               </div>
                               <div class="col-lg-3">
                                   <span>@sum</span>
                               </div>
                               <div class="col-lg-3">
                                   <span></span>
                               </div>
                                    
                           </div>
                            
                           
                       }
                        
                    </div>
                    
                </form>
            </div>
        </div>
    </div>
</div>