@page
@using LogisticsBooking.FrontEnd.DataServices.Models
@model LogisticsBooking.FrontEnd.Pages.Transporter.Booking.select_time

@{
    Layout = "_Layout_Transporter";
}

<div class="py-1" style="">
    <div class="container">

            <!-- Horizontal Steppers -->
            <div class="row">
                <div class="col-md-12">

                    <!-- Stepers Wrapper -->
                    <ul class="stepper stepper-horizontal">

                        <!-- First Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle"><i class="fas fa-check"></i></span>
                                <span class="label">Opret Ordre</span>
                            </a>
                        </li>

                        <!-- Second Step -->
                        <li class="completed">
                            <a href="#!">
                                <span class="circle">2</span>
                                <span class="label">Oplysninger</span>
                            </a>
                        </li>

                        <!-- Third Step -->
                        <li class="active">
                            <a href="#!">
                                <span class="circle">3</span>
                                <span class="label">Tidspunkt</span>
                            </a>
                        </li>
                        
                        <!-- Third Step -->
                        <li class="">
                            <a href="#!">
                                <span class="circle">3</span>
                                <span class="label">Gennemført</span>
                            </a>
                        </li>

                    </ul>
                    <!-- /.Stepers Wrapper -->

                </div>
            </div>


    </div>
</div>  
<div class="py-5" style="">
    <div class="container">
        <div class="row">
            <h2 class="text-center display-center col-md font-weight-bolder">Følgende tider er ledige</h2>
        </div>
        <div class="row">
            <div class="mx-auto p-4 col-lg-8">
               
                @if (Model.ScheduleViewModel.Intervals == null)
                {
                    <span> Der kan ikke bookes på denne dag endnu. </span>
                }
                

                    @foreach (var interval in Model.ScheduleViewModel.Intervals)
                     {
                         if (!interval.IsBooked)
                         {

                             <div class="col-md">
                                 <div class="list-group" style="">
                                     <form method="post">
                                         <button class="list-group-item list-group-item-action" type="submit" asp-page-handler="SelectedTime">
                                             <div class="display-spacebetween">
                                                 <input type="hidden" value="@interval.EndTime.Value.DayOfWeek.ToString("G") - @interval.EndTime.Value.ToString("M")"/>
                                                 <input type="hidden" asp-for="ScheduleViewModel.ScheduleId"/>
                                                 <input type="hidden" name="interval" value="@interval.IntervalId">
                                                 
                                                 <div class="">@interval.EndTime.Value.DayOfWeek.ToString("G") - @interval.EndTime.Value.ToString("MM/dd") </div>
                                                 <div class="">@interval.StartTime.Value.ToString("t") - @interval.EndTime.Value.ToString("t") </div>
                                                 <div class=""> Ledige paller : @interval.RemainingPallets</div>


                                             </div>
                                         </button>
                                     </form>



                                 </div>
                             </div>
                         }

                     }
                
              
            </div>
         

        </div>
    </div>
</div>
